@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir-Book/Avenir.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir LT Std 65 Medium/Avenir LT Std 65 Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir LT Std 85 Heavy/Avenir LT Std 85 Heavy.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir LT Std 95 Black/Avenir LT Std 95 Black.otf");
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-blue: #04d2c8;
  --secondary-blue: #4de0d7;
  --background-color: linear-gradient(
    90.19deg,
    rgba(205, 84, 244, 0.95) 0%,
    rgba(132, 69, 254, 0.95) 50.26%,
    rgba(73, 143, 250, 0.95) 98.44%
  );
}

body {
  font-family: "Avenir", "sans-serif";
}

.navbar-collapse.in {
  display: block !important;
}

.header-bg {
  background: linear-gradient(
    90.19deg,
    #4a37ed 0%,
    #a833fa 50.26%,
    #d14dff 98.44%
  );
}

.items {
  font-size: 16px;
  font-weight: medium !important;
}

.logo-image {
  width: 127px;
}

.making-justify-content {
  justify-content: space-between;
}

.header-button {
  background: linear-gradient(
    90.19deg,
    #04d2c8 0%,
    rgba(132, 69, 254, 0.95) 95.83%
  );
  align-items: center;
  border-radius: 60px;
  width: 202px;
  justify-content: center;
  padding-top: 5px;
}

.support {
  font-weight: 400;
  font-size: 14px;
}

.support-no {
  font-weight: 750;
  font-size: 20px;
}

.elements {
  align-items: center;
  text-align: center;
  gap: 3px;
}

.hero-content {
  display: flex;
  align-items: center;
  margin-top: 84px;
  gap: 30px;
}

.service {
  font-weight: 700;
  font-size: 49px;
  color: #ffffff;
}

.assistance {
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  margin-top: 32px;
}

.maintanance {
  background: var(--primary-blue);
  border: none;
  padding: 16px 36.4px;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-top: 20px;
  color: white;
}

.main-image {
  width: 577px;
  margin-top: 0px;
  margin-left: 0px;
}

.spacing {
  margin-left: 0px;
}

.frames {
  display: flex;
  align-items: center;
  gap: 96px;
  justify-content: center;
  margin-top: 31px;
  margin-bottom: 30px;
}

.seperating {
  display: flex;
}

.seperating-1 {
  display: flex;
  margin-top: 26px;
  margin-bottom: 26px;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 4%), 0px 2px 6px rgb(0 0 0 / 4%);
  border-radius: 8px;
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 12px;
  padding-right: 46px;
}

.seperating-2 {
  display: flex;
  margin-top: 26px;

  box-shadow: 0px 10px 20px rgb(0 0 0 / 4%), 0px 2px 6px rgb(0 0 0 / 4%);
  border-radius: 8px;
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 12px;
  padding-right: 46px;
}
.carousel-section {
  margin-top: 81px;
  background: #f9f9f9;
  padding-bottom: 96px;
}

.carousel-header {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
  max-width: none;
  margin: inherit;
  margin-top: 81px;
}

.carousel-control-prev {
  right: 79px;
  bottom: auto;
  left: auto;
  top: 14px;
}

.carousel-control-next {
  right: 41px;
  bottom: auto;
  left: auto;
  top: 13px;
}

.all-items {
  display: flex;
  width: 890px;
  margin: auto;
  gap: 29px;
  margin-bottom: 49px;
}

#carouselExampleIndicators {
  box-shadow: 0px 10px 20px rgb(0 0 0 / 4%), 0px 2px 6px rgb(0 0 0 / 4%);
  border-radius: 8px;
  /* background: black;
    color: white;  */
  padding: 24px;
}

.for-line-break {
  border-bottom: 1px solid #2a2e33;
  opacity: 0.08;
}

.stars-img {
  margin-bottom: 17px;
}

.excellent {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding-right: 50px;
  margin-top: 24px;
}

.flexing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.for-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 132px;
}

.carousel-headings {
  display: flex;
  align-items: center;
}

.carousel-headings h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.carousel-headings p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #111111;
}

.arnaud {
  margin-top: 10px;
  margin-left: 11px;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: inherit;
  width: 0px;
}

.travil {
  position: relative;
  display: flex;
  background: var(--background-color);
  box-shadow: 3px 4px 42px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  width: 66%;
  position: relative;
  padding-left: 29px;
  padding-right: 25px;
  padding-top: 46px;
  padding-bottom: 39px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: -88px;
  margin-bottom: 84px;
  text-align: left;
}

.for-radius {
  border-left: 5px solid var(--primary-blue);
  padding-left: 12px;
}

.travil h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: white;
  margin-top: 3px;
}

.travil p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
}

.for-gradient {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(51.84deg);
  width: 100.86px;
  height: 474.48px;
  left: 805.51px;
  top: -137.76px;
}

.prix {
  background: var(--primary-blue);
  border: none;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 10px 44px;
  color: white;
  font-weight: 700;
}

.academy {
  margin-top: 84px;
  margin-bottom: 63px;
}

.academy h1 {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  /* max-width: 49%; */
  margin: auto;
}

.academy button {
  margin-top: 48px;
  background: var(--primary-blue);
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 0px 42.4px;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 56px;
  border: none;
  color: white;
  margin: 48px auto 0px auto;
  display: flex;
}

.content {
  display: flex;
  gap: 20px;
  margin-top: 48px;
}

.content-obj {
  padding-left: 34px;
  padding-right: 26px;
  padding-bottom: 24px;
  padding-top: 34px;
  box-shadow: 0px -22px 80px rgba(0, 0, 0, 0.04),
    0px 40px 33px rgba(0, 0, 0, 0.03), 0px 23px 17px rgba(0, 0, 0, 0.03),
    0px 12px 10px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
}

.content-obj img {
  margin-bottom: 40px;
}

.content-obj h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.content-obj p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #111111;
  opacity: 0.7;
}

.for-sercices-background {
  background: var(--background-color);
}

.services {
  padding-top: 96px;
  padding-bottom: 86px;
  text-align: center;
}

.services h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.services p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 16px;
}

.grid-property {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;
  gap: 12px;
  padding: 10px;
  margin-top: 56px;
}

.grid-layout {
  box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding-left: 14px;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
  background: white;
  text-align: left;
  /* width: 244px; */
  display: flex;
  gap: 14px;
  /* padding-right: 119px; */
}

.grid-layout h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 0px;
}

.expert {
  width: fit-content;
  height: fit-content;
  background: var(--primary-blue) !important;
  /* margin-top: 26px; */
  justify-content: center;
}

.trouver {
  background: var(--primary-blue);
  border-radius: 4px;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 56px;
  border: none;
  color: white;
}

.trouver-2 {
  background: var(--primary-blue);
  border-radius: 4px;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  border: none;
  color: white;
}

.comments {
  margin-top: 82px;
  margin-bottom: 80px;
  text-align: center;
}

.comments h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.comments p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-top: 16px;
}

.commande {
  display: flex;
}

.images-div img {
  width: 200px;
}

.images-div h4 {
  font-weight: 750;
  font-size: 45px;
  line-height: 44px;
  color: rgba(0, 0, 0, 0.05);
}

.images-div h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #111111;
  width: 183px;
  margin: 39px auto 18px auto;
}

.images-div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.for-height {
  margin-top: 101px;
}

.vector-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 130px;
  margin-left: 20px;
}

footer {
  background: var(--background-color);
}

.footer {
  display: flex;
  padding-top: 112px;
  padding-bottom: 77px;
  gap: 58px;
  justify-content: center;
}

.footer-divs h2 {
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
  width: 270px;
  opacity: 0.7;
}

.follow {
  margin-top: 34px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.follow h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
  margin-right: 4px;
  margin-bottom: 0px;
  opacity: 0.7;
}

.footer-divs h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  border-left: 5px solid var(--primary-blue);
  padding: 0px 114.875px 0px 15px;
  color: white;
}

.footer-divs p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
  margin-bottom: 19px;
  opacity: 0.7;
}

.dot-class {
  margin-top: 26px;
  margin-left: 10px;
}

.dot {
  height: 7px;
  width: 7px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-right: 9px;
  opacity: 0.7;
}

.footer-divs button {
  border: 1px solid var(--secondary-blue);
  border-radius: 4px;
  color: var(--secondary-blue);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 22px;
  background: none;
}

.number {
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 26px !important;
  color: var(--primary-blue) !important;
  opacity: inherit !important;
}

.notre {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 26px !important;
  color: white !important;
  opacity: 0.85 !important;
  width: 215px;
}

.number-class {
  margin-top: 26px;
}

.footer-section {
  background: linear-gradient(180deg, #04c9bf 0%, var(--primary-blue) 100%);
  padding: 12px 0px;
}

.payments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.random {
  display: flex;
  gap: 13px;
  align-items: center;
}

.random h1 {
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-bottom: 0px;
}

.round {
  position: relative;
}

.yellow-img {
  position: absolute;
  left: 39%;
  top: -17%;
}

@media screen and (min-width: 300px) {
  .carousel-header {
    max-width: 94%;
    margin: auto;
  }

  .numbers {
    margin-top: 11px;
    margin-left: 0px;
    font-size: 24px;
  }

  .seperating img {
    width: 84px;
  }

  .carousel-header {
    font-size: 30px;
  }

  .frames {
    gap: 29px;
  }

  .all-items {
    width: 85%;
    gap: 0px;
    justify-content: center;
  }

  #carouselExampleIndicators {
    margin-top: 25px;
  }

  .carousel-section {
    margin-top: 52px;
  }

  .travil {
    width: 85%;
  }

  .travil h1 {
    font-size: 32px;
  }

  .prix {
    padding: 13px 61px;
    font-size: 19px;
    margin-top: 22px;
  }

  .academy {
    margin-top: 48px;
    margin-bottom: 57px;
  }

  .content {
    display: block;
    margin-left: 25px;
    margin-right: 25px;
  }

  .content-obj {
    margin-top: 25px;
  }

  .content-obj img {
    width: 26%;
  }

  .content-obj h2 {
    font-size: 24px;
  }

  .content-obj p {
    font-size: 18px;
  }

  .academy h1 {
    max-width: 100%;
  }

  .academy button {
    margin-left: 25px;
    margin-right: 25px;
    width: -webkit-fill-available;
    margin-top: 32px;
  }

  .grid-layout {
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 0px;
    /* padding-right: 61px; */
    /* width: 162px; */
  }

  .grid-layout h4 {
    font-size: 12px;
    line-height: 0px;
    line-height: 14px;
  }

  .grid-property {
    padding: 0px;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .vector-image {
    width: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .commande {
    flex-wrap: wrap;
    justify-content: center;
  }

  .images-div img {
    width: 145px;
  }

  .images-div p {
    width: 147px;
    margin: auto;
  }

  .for-height {
    margin-top: 0px;
  }

  .images-div {
    margin-top: 24px;
  }

  .comments h1 {
    font-size: 30px;
  }

  .comments p {
    font-size: 16px;
  }

  .footer {
    display: block;
    padding-top: 10px;
    padding-bottom: 72px;
    padding-left: 24px;
  }

  .footer-divs p {
    margin-bottom: 11px;
  }

  .footer-divs {
    margin-top: 38px;
  }

  .expert {
    display: none;
  }

  .expert-2 {
    margin-top: 15px;
    display: block;
  }

  .trouver-2 {
    padding: 14px 0.4px;
    width: -webkit-fill-available;
  }

  .for-gradient {
    display: none;
  }

  .yellow-img {
    left: 13%;
  }
}

@media screen and (max-width: 431px) {
  .service {
    font-size: 42px !important;
  }

  .assistance {
    margin-top: 12px;
  }

  .main-image {
    width: 362px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 431px) {
  .main-image {
    width: 362px;
    margin-top: 32px;
  }
}

@media screen and (max-width: 483px) {
  .service {
    font-size: 42px !important;
  }
}

@media screen and (min-width: 483px) {
  .main-image {
    width: 417px;
    margin-top: 32px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 600px) {
  .main-image {
    width: 477px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 700px) {
  .main-image {
    width: 557px;
    margin-top: 32px;
  }
}

@media screen and (max-width: 875px) {
  .service {
    font-size: 65px;
    max-width: 722px;
  }

  .spacing {
    margin-left: 14px;
  }
}

@media screen and (max-width: 992px) {
  .logo-showing {
    display: block;
  }

  .logo-hiding {
    display: none;
  }

  .carousel-header {
    padding-top: 32px;
  }
}

@media screen and (min-width: 992px) {
  .logo-showing {
    display: none;
  }

  .logo-hiding {
    display: block;
  }

  .seperating img {
    width: auto !important;
  }

  .numbers {
    font-weight: 350;
    font-size: 44px;
    margin-left: 20px !important;
    margin-top: 0px;
  }

  .frames {
    gap: 96px;
  }

  .all-items {
    width: 66%;
    gap: 29px;
  }

  .carousel-header {
    padding-top: 81px;
  }

  .prix {
    font-size: 20px;
    margin-top: 0px;
    padding: 12px 52px;
  }

  .for-gradient {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .seperating {
    display: block;
    text-align: center;
  }

  .seperating-2 {
    display: none;
  }

  .seperating-1 {
    display: none;
  }

  .footer {
    gap: 17px;
  }

  /* .yellow-img{
    left: 29%;
  } */
}

@media screen and (max-width: 920px) {
  .logo-image {
    width: 87px;
  }

  .elements {
    align-items: baseline;
    padding-left: 7px;
  }

  .items {
    font-size: 17px;
  }

  .header-button {
    width: 222px;
  }

  .hero-content {
    margin-top: 58px;
    display: block;
  }

  #carouselExampleIndicators {
    margin-top: 0px;
  }

  .all-items {
    margin-top: 25px;
  }

  .travil {
    display: block;
    text-align: center;
  }

  .for-radius {
    border-left: 0px solid var(--primary-blue);
  }

  .random h1 {
    font-size: 11px;
  }

  .payments {
    flex-direction: column-reverse;
  }

  .copy {
    margin-top: 15px;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url(../images/nav-icon.png) !important;
  }

  .navbar-toggler-icon {
    width: 32px;
    height: 32px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-toggler {
    border: none;
  }
}

@media screen and (min-width: 920px) {
  .carousel-section {
    margin-top: 0px;
  }

  .all-items {
    margin-top: 40px;
  }

  .content {
    margin-left: 0px;
    margin-right: 0px;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  .content-obj {
    width: 261px;
  }

  .content-obj h2 {
    font-size: 20px;
  }

  .content-obj p {
    font-size: 16px;
  }

  .content-obj img {
    width: auto;
  }

  .academy button {
    margin: 48px auto 0px auto;
    width: auto;
  }
  .grid-property {
    padding: 10px;
    gap: 12px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid-layout {
    padding-left: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    /* padding-right: 119px; */
    width: 244px;
  }

  .grid-layout h4 {
    font-size: 16px;
    line-height: 40px;
  }

  .vector-image {
    width: 65px;
    margin-left: 20px;
    margin-bottom: 130px;
  }

  .for-height {
    margin-top: 101px !important;
  }

  .images-div {
    margin-top: 0px;
  }

  .comments h1 {
    font-size: 36px;
  }

  .comments p {
    font-size: 18px;
  }

  .footer {
    display: flex;
    padding-top: 112px;
    padding-bottom: 77px;
    padding-left: 0px;
  }

  .footer-divs p {
    margin-bottom: 19px;
  }

  .footer-divs {
    margin-top: 0px;
  }

  .payments {
    flex-direction: row;
  }

  .copy {
    margin-top: 0px;
  }

  .expert {
    padding-left: 0px;
    display: block;
    text-align: center;
  }

  .expert-2 {
    display: none;
  }

  .trouver {
    padding: 7px 0px;
    line-height: initial;
  }

  .yellow-img {
    left: 39%;
  }
}

@media screen and (max-width: 1200px) {
  .service {
    font-size: 60px;
  }

  .container {
    max-width: 1090px !important;
  }
}

@media screen and (min-width: 1200px) {
  .carousel-header {
    margin: 0px 394px;
  }

  .travil {
    width: 66%;
  }
  .images-div img {
    width: 232px;
  }
}

@media screen and (min-width: 1400px) {
  .sizing {
    max-width: 1287px;
    margin: auto;
  }

  .images-div p {
    width: 257px;
    margin: auto;
  }
}

@media screen and (min-width: 1600px) {
  .sizing {
    max-width: 1487px;
  }
}

@media screen and (min-width: 1800px) {
  .sizing {
    max-width: 1627px;
  }
}

@media screen and (min-width: 1900px) {
  .sizing {
    max-width: 1807px;
  }

  .elements {
    gap: 32px;
  }

  .service {
    font-size: 62px;
  }

  .hero-content {
    gap: 74px;
  }

  .main-image {
    width: 707px;
    margin-top: 32px;
  }

  .carousel-header {
    margin: 0px 674px;
  }

  .travil {
    width: 60%;
  }
}

@media screen and (min-width: 1920px) {
  .for-gradient {
    left: 1075.51px;
  }
}

@media screen and (min-width: 2200px) {
  .sizing {
    max-width: 1997px;
  }
}

@media screen and (min-width: 2400px) {
  .sizing {
    max-width: 2187px;
  }

  .main-image {
    width: 748px;
    margin-top: 32px;
  }

  .carousel-header {
    margin: 0px 994px;
  }

  .travil {
    width: 48%;
  }
}

@media screen and (min-width: 2560px) {
  .for-gradient {
    left: 1171.51px;
  }
}
